* {
    box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin : 0 auto
}

/*
* Map
*/

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*
* Panel
*/

.panel {
  height: 100%;
  width: 408px;
  left: -408px;
  position: absolute;
  top: 0;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#live{
  box-shadow: 10px 5px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  background: white;
  width: 100%;
  height: 100%
}
#divStationName{
  margin: 0;
  height : 50px;
  color: white;
  background: rgb(0, 0, 255);

  position: relative;
}
#stationName{
  margin:  0 10px auto;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

/*
* Close button
*/
.button {
  border: none;
  margin: 0;
  cursor: pointer;
  background: transparent;
}

#closeButton {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px
}

#closeIcon{
  background:url(./icon/close.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%
}

/*
* chart Panel
*/

#chartPanel {
  z-index: 0;
  height: 100%;
  background: white;
  width: 250%;
  right: 0;
  top: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  box-shadow: 10px 5px 8px 0 rgba(0, 0, 0, 0.5);
}

/*
* chartButton
*/
#chartButton{
  width: 20px;
  height: 50px;
  background: white;
  left: 100%;
  top: 20%;
  opacity: 1;
  position: absolute;
  box-shadow: 10px 5px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0 5px 5px 0;
}

/*
* Line chart
*/



table#menu {
    /*border-collapse: collapse;*/


    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
  	text-align: center;
  	table-layout: auto;
}

td.mymenu {
  width: 33%;
  text-align: center;
  border: 2px solid blue;
  border-radius: 10px;
  /*border-bottom: 1px solid #ddd;*/
}

td.mymenu:hover{
  background-color:rgba(0, 0, 200, 0.2)
}


table#lines{
	width: 100%;
}
td{
  width: 45%
}
canvas.linesCanvas {
		background: rgba(255,255,255,1);
}
