doctype html
html(lang='fr-FR')
  head
    meta(charset='UTF-8', name="viewport", content="width=device-width, initial-scale=1.0")
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.js')
    script(type='text/javascript' src='scripts/Map.js')
    script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBfBC_k6_sDuxEkGREL-pPDD2kb-wtGA4I')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
    link(rel='stylesheet', href='style/style.css')
  body(data-affix='85', data-top='0', onload='onLoad(#{JSON.stringify(data)})')
    div#head
      img#logo(src="/image/Logo_header.png" alt="Image Title")
    div#map
    div.panel
      div#live
        div#divStationName
          img#staionImg(src="/image/refuge_station_icone.png")
          p#stationName Name Station
        div#closeButton.button
          div#closeIcon
        table#icon
          tr
            td
              div.divLive
                img#imgtemp.classicon(src="/image/temperature_passif.png" alt="Image Title")
                p#tempLive.textLive 0°
            td
              div.divLive
                img#imghygr.classicon(src="/image/hydraulic_passif.png" alt="Image Title")
                p#hygrLive.textLive 0%
          tr
            td
              div#divLivePres.divLive
                img#imgpres.classicon(src="/image/pression_passif.png" alt="Image Title")
                p#presLive.textLive 000Pa
            td
              div#divLiveSnow.divLive
                img#imgsnow.classicon(src="/image/Snow_level_passif.png" alt="Image Title")
                p#snowLive.textLive 0m
      div#chartPanel
        div#chartButton.button
        div#selectDate
        table#menu
          tr
            td#year.mymenu This Year
            td#month.mymenu This Month
            td#day.mymenu This Day
        div#lines
          canvas#lineChartT.linesCanvas
